:host{
  height:100vh;
  background-color: black;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color:white;
}
p#splashTitle{
  font-size:32px;
  font-family: 'Amatic SC', cursive;
  color: white;
}

div.time{
  color:#daf6ff;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
}


#bannerDateTime{
  letter-spacing:2px;
  word-spacing: 5px;
}